#/////////////////////////////////////////////////
# 项目目录
#/////////////////////////////////////////////////

/dist/

#/////////////////////////////////////////////////
# 其他目录
#/////////////////////////////////////////////////

/.idea/
/.vscode/
/node_modules/

#/////////////////////////////////////////////////
# 项目文件
#/////////////////////////////////////////////////

auto-components.d.ts
auto-imports.d.ts
package-lock.json
pnpm-lock.yaml
yarn.lock

#/////////////////////////////////////////////////
# 其他文件
#/////////////////////////////////////////////////

.DS_Store
Thumbs.db
